.localist-event-instance .start-time {
  padding-right: .5em;
}

.localist-event-instance .end-time:before {
  content: "\2013";
  padding-right: .5em;
}
.localist-event-instance .end-time.all-day:before {
  display: none;
}
